#wrapper{
    width: 1280px; 
	margin: 0 auto; 
}
#container{
    max-width: 1280px;
    max-height: 720px;
}
#monitor{
    background-color: #008080;
    width: 1280px;
    height: 720px;  
    float: left;
}
/* start menu 
.dropbtn{
    clear: both;
}
*/
#pasek_start{
    background-color: #C0C0C0;
    width: 1230px;
    height: 32px;
    float: left;
}
#zegar_sys{
    background-color: #C0C0C0;
    width: 50px;
    height: 32px;
    float: left;
}
