#wrapper{
    width: 1280px; 
	margin: 0 auto; 
}
#container{
    max-width: 1280px;
    max-height: 720px;
}
#monitor{
    background-color: #008080;
    width: 1280px;
    height: 720px;  
    float: left;
}
/* start menu 
.dropbtn{
    clear: both;
}
*/
#pasek_divider{
    background-image: url("../img/divider.jpg");
    width: 6px;
}
#pasek_start{
    background-image: url("../img/pasek_start.jpg");
    background-repeat: repeat;
    width: 1172px;
    height: 32px;
    float: left;
}
#zegar_sys{
    background-image: url("../img/zegar_bcg.jpg");
    width: 105px;
    height: 32px;
    text-align: center;
    padding-top: 7px;
    float: left;
}
